<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo 3D</title>
    <link rel="stylesheet" href="/css/threejs.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script type="importmap">
        {
            "imports":{
                "three":"./build/three.module.js",
                "three/examples/jsm/loaders/GLTFLoader":"/jsm/loaders/GLTFLoader.js",
                "three/examples/jsm/controls/OrbitControls":"/jsm/controls/OrbitControls.js",
                "three/examples/jsm/loaders/FBXLoader":"/jsm/loaders/FBXLoader.js",
                "three/examples/jsm/loaders/OBJLoader":"/jsm/loaders/OBJLoader.js"
            }
        }
    </script>
</head>

<body>

    <!-- <div id="info">
        "W" translate | "E" rotate | "R" scale | "+/-" adjust size<br />
        "Q" toggle world/local space | "Shift" snap to grid<br />
        "X" toggle X | "Y" toggle Y | "Z" toggle Z | "Spacebar" toggle enabled<br />
        "Esc" reset current transform<br />
        "C" toggle camera | "V" random zoom
    </div> -->
    <i class="bi bi-list" id="menu"></i>
    <section id="sidenav">
        <ul>
            <li><a href=""><i class="bi bi-house-door"></i> nhà</a></li>
            <li><a href=""><i class="bi bi-bookmarks-fill"></i> thư viện</a></li>
            <li><a href=""><i class="bi bi-zoom-in"></i> phóng to</a></li>
            <li><a href=""><i class="bi bi-aspect-ratio-fill"></i> chụp ảnh</a></li>
        </ul>
    </section>
    <div class="pointer"></div>
    <canvas class="web-gl" id="canvas"></canvas>
    <script type="module" src="/threejs/demo.js"></script>


</body>
<script type="text/javascript">
    var menu = document.getElementById("menu");
    var sidenav = document.getElementById("sidenav");
    sidenav.style.width = "0px";
    menu.onclick = function () {
        if (sidenav.style.width == "0px") {
            sidenav.style.transition = "transition: right 1s ease-in-out";
            sidenav.style.width = "250px";
        }
        else {
            sidenav.style.width = "0px";
        }
    }
</script>

</html>