body {
    overflow: hidden;
}

#map {
    /* margin-right: 100px; */
    position: relative;
    height: 80%;
    width: 97%;
    cursor: pointer;
    left: 3%;
    top: 14%;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

#map.adjust {
    cursor: url('/img/admin/pointer/aim-point.cur'), auto;
}

.modal-content {
    background-color: #333;
    /* background-image: linear-gradient(to left, #fff 0%, #06da5e 50%, #bb69eb 100%); */
    background: #7b57cf;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    margin: 8px auto;
    padding: 20px;
    width: 50%;
    top: 10px;
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-color: rgb(228, 179, 20);
    border-width: 7px;
}

.modal-content label {
    font-size: 1.3rem;
    color: #222b09;
    padding: 2px 0;
    margin: 3px 0 3px 0;
    font-family: 'Noto Sans', sans-serif;
}

.modal-content input,
textarea {
    padding: 8px;
    border-radius: 20px;
    margin: 3px 0 3px 0;
    border: none;
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-size: 1rem;
}

.modal-content textarea {
    resize: vertical;
}

.modal-content h2 {
    text-align: center;
    font-family: 'Geologica', sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
}


.modal-content input[type="file"] {
    color: #7b57cf;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.modal-content button {
    padding: 8px;
    border-radius: 40px;
    margin: 3px 0 3px 0;
    border: none;
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.3);
    color: #0fcf29;
    align-self: flex-end;
    /* height: 30px;
    width: 60px; */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transition: padding 0.35s, font-size 0.35s;
}

.modal-content button:hover {
    background-color: #0fcf29;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
    transition: padding 0.35s, font-size 0.35s;
}

.close {
    align-self: flex-end;
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: rgb(196, 21, 15);
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.pointer {
    background-color: rgba(44, 33, 90, 1);
    color: bisque;
    cursor: pointer;
    position: absolute;
    width: auto;
    max-width: 300px;
    top: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    transform: translate(-50%);
    transform: translateY(80px);
    transition: opacity .3s, transform .3s;
    text-align: justify;
    z-index: 1000;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
}

.pointer.is-active {
    cursor: pointer;
    width: auto;
    height: auto;
    overflow-y: hidden;
    opacity: 1;
    transform: translate(-50%);
    font-family: 'Dosis', sans-serif;
    transform: translateY(10px);

}

@media (max-width: 768px) {
    .modal-content {
        max-width: 90%;
        padding: 20px;
    }
}

.leaflet-control-layers-toggle {
    width: auto;
    background-position: 3px 50%;
    padding: 3px;
    padding-left: 36px;
    text-decoration: none;
    line-height: 36px;

}

leaflet-control-layers-expanded {
    width: 125px !important;
    height: auto;
}

.select-file {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.select-level {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

select#level {
    padding: 8px;
    border-radius: 20px;
    margin: 3px 10px 3px 10px;
    border: none;
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-size: 1rem;
}

.cols {
    display: flex;
    width: 50%;
    justify-content: space-between;
}